<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <title>Sign Up</title>
</head>
<body class="bg-gray-300 dark:bg-gray-900 flex items-center justify-center min-h-screen">
  <div class="absolute top-4 right-4">
    <button onclick="toggleTheme()" class="bg-gray-300 dark:bg-gray-700 text-gray-700 dark:text-white rounded-full p-2 shadow hover:scale-105 transition">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
        <path d="M10 2a1 1 0 011 1v1a1 1 0 01-2 0V3a1 1 0 011-1zM15.66 4.34a1 1 0 010 1.41l-.71.71a1 1 0 01-1.41-1.41l.71-.71a1 1 0 011.41 0zM18 10a1 1 0 01-1 1h-1a1 1 0 110-2h1a1 1 0 011 1zM15.66 15.66a1 1 0 00-1.41 0l-.71.71a1 1 0 101.41 1.41l.71-.71a1 1 0 000-1.41zM10 18a1 1 0 01-1-1v-1a1 1 0 112 0v1a1 1 0 01-1 1zM4.34 15.66a1 1 0 00-1.41 1.41l.71.71a1 1 0 001.41-1.41l-.71-.71zM3 10a1 1 0 010-2H2a1 1 0 100 2h1zM4.34 4.34a1 1 0 011.41 0l.71.71a1 1 0 11-1.41 1.41l-.71-.71a1 1 0 010-1.41z" />
        <path d="M10 5a5 5 0 100 10A5 5 0 0010 5z" />
      </svg>
    </button>
  </div>

  <div class="bg-white dark:bg-gray-800 p-8 rounded-lg shadow-md w-full max-w-md">
    <h1 class="text-2xl font-bold text-center mb-6 text-gray-700 dark:text-white">Create an Account</h1>
    <form action="/signin" method="POST" class="space-y-4">
      {{ csrfField() }}
      <div>
        <label for="name" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Full Name</label>
        <input type="text" id="name" name="fullName" placeholder="Enter full Name" required class="mt-1 block w-full px-3 py-2 border border-gray-500 dark:border-gray-700 rounded-md shadow-sm bg-white dark:bg-gray-300" />
      </div>
      <div>
        <label for="email" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Email</label>
        <input type="email" id="email" name="email" placeholder="Enter e-mail here..." required class="mt-1 block w-full px-3 py-2 border border-gray-500 dark:border-gray-700 rounded-md shadow-sm bg-white dark:bg-gray-300" />
      </div>
      <div>
        <label for="password" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter password..." required class="mt-1 block w-full px-3 py-2 border border-gray-500 dark:border-gray-700 rounded-md shadow-sm bg-white dark:bg-gray-300" />
      </div>

      <div class="flex items-center justify-between">
      </div>
      <p class="mt-4 text-center text-gray-500 md:text-base">
        Already have an account?
        <a href="/login" class="text-primary hover:underline">Login</a>
      </p>
    </form>
  </div>
</body>

</html>