<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign Up</title>
</head>
<body>
  <form action="signUpUser" method="POST">
    {{ csrfField() }}
    <input type="text" name="fullName" placeholder="fullname" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">SignUp</button>
  </form>

  <p class="mt-6 text-center text-sm text-sand-10 dark:text-sand-6">
    J'ai un compte
    <a href="/login" >Login</a>
  </p>
</div>
</body>
</html>