<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  
  <title>Login</title>
</head>
<body>
    <form action="/event" method="post">
        {{ csrfField() }}
        <input type="file" name="file" id="" placeholder="Upload image">
        <input type="text" name="category" placeholder="Enter the category...">
        <select name=category">
            <option value="">--Please choose a Category--</option>
            <option value="sport">Sport</option>
            <option value="health">Health</option>
            <option value="comedy">comedy</option>
            <option value="training">training</option>
          </select>
        <input type="text name="title" placeholder="Enter Title">
        <input type="text" name="description" >
        <input type="time" name="beginTime" >
        <input type="time" name="endTime" >
        <input type="date" name="beginDate" >
        <input type="date" name="endDte" >
        <input type="text" name="location" >
    </form>
</body>
</html>
